<html>
    <head>
        <body>
            <form method="POST">
                <fieldset>
                    <legend>Cadastro de Proprietário</legend>
                    <p>
                        <label for="i1">Informe seu nome</label> <br/>
                        <input type="text" name="nome" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe seu CPF</label> <br/>
                        <input type="text" name="cpf" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe seu RG</label> <br/>
                        <input type="text" name="rg" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe seu E-mail</label> <br/>
                        <input type="text" name="email" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu número de telefone</label> <br/>
                        <input type="text" name="telefone" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <button type="submit" formaction="/inserirProprietario">Cadastrar Proprietário</button>
                    </p>
                </fieldset>
            </form>
        </body>
    </head>
</html>