<html>
    <head>
        <body>
            <form method="POST">
                <fieldset>
                    <legend>Cadastro de Proprietário</legend>
                    <p>
                        <label for="i1">Informe o seu nome:</label> <br/>
                        <input type="text" name="pronome" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu CPF:</label> <br/>
                        <input type="text" name="procpf" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu RG:</label> <br/>
                        <input type="text" name="prorg" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu E-mail:</label> <br/>
                        <input type="text" name="proemail" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu número de telefone:</label> <br/>
                        <input type="text" name="protelefone" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <button type="submit" formaction="/inserirProprietario">Cadastrar Proprietário</button>
                    </p>
                </fieldset>
            </form>
        </body>
    </head>
</html>