<html>
    <head>
        <body>
            <form method="POST">
                <fieldset>
                    <legend>Cadastro de Funcionários</legend>
                    <p>
                        <label for="i1">Informe o seu nome:</label> <br/>
                        <input type="text" name="funnome" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu CPF:</label> <br/>
                        <input type="text" name="funcpf" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu RG:</label> <br/>
                        <input type="text" name="funrg" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe seu E-mail:</label> <br/>
                        <input type="text" name="funemail" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu número telefone:</label> <br/>
                        <input type="text" name="funtelefone" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <button type="submit" formaction="/inserirFuncionario">Cadastrar Funcionário</button>
                    </p>
                </fieldset>
            </form>
        </body>
    </head>
</html>