<html>
    <head>
        <body>
            <form method="POST">
                <fieldset>
                    <legend>Cadastro de Bancas</legend>
                    <p>
                        <label for="i1">Informe o nome da sua banca:</label> <br/>
                        <input type="text" name="nome" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe a numeração da sua banca:</label> <br/>
                        <input type="text" name="numero" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <button type="submit" formaction="CICMAP/Config/banca/inserir_banca.php">Cadastrar Banca</button>
                    </p>
                </fieldset>
            </form>
        </body>
    </head>
</html>