<html>
    <head>
        <body>
            <form method="POST">
                <fieldset>
                    <legend>Cadastro de Produtos</legend>
                    <p>
                        <label for="i1">Informe o nome do produto:</label> <br/>
                        <input type="text" name="prodnome" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe a marca do produto:</label> <br/>
                        <input type="text" name="prodmarca" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe a quantidade de produto:</label> <br/>
                        <input type="text" name="prodquantidade" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe a numeração do produto:</label> <br/>
                        <input type="text" name="prodnumeracao" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <button type="submit" formaction="/inserirProduto">Cadastrar Produto</button>
                    </p>
                </fieldset>
            </form>
        </body>
    </head>
</html>