<html>
    <head>
        <body>
            <form method="POST">
                <fieldset>
                    <legend>Cadastro de Fornecedores</legend>
                    <p>
                        <label for="i1">Informe o seu nome:</label> <br/>
                        <input type="text" name="fonnome" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu CPF:</label> <br/>
                        <input type="text" name="foncpf" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu RG:</label> <br/>
                        <input type="text" name="fonrg" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu E-mail:</label> <br/>
                        <input type="text" name="fonemail" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu número de telefone:</label> <br/>
                        <input type="text" name="fontelefone" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe o seu endereço:</label> <br/>
                        <input type="text" name="fonendereco" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <button type="submit" formaction="/inserirFornecedor">Cadastrar Fornecedor</button>
                    </p>
                </fieldset>
            </form>
        </body>
    </head>
</html>