<html>
    <head>
        <body>
            <form method="POST">
                <fieldset>
                    <legend> Cadastro Cliente</legend>
                    <p>
                        <label for="i1">CPF</label> <br/>
                        <input type="text" name="cpf" id="i1" autocomplete="off" />
                    </p>

                    <p>
                        <button type="submit" formaction="/inserir">Gerar</button>
                    </p>
                </fieldset>
            </form>
        </body>
    </head>
</html>