<html>
    <head>
        <body>
            <form method="POST">
                <fieldset>
                    <legend>Cadastro de Produto</legend>
                    <p>
                        <label for="i1">Informe o nome do produto</label> <br/>
                        <input type="text" name="nomeProd" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe a marca do produto</label> <br/>
                        <input type="text" name="marca" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe a quantidade de produto</label> <br/>
                        <input type="text" name="quantidade" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <label for="i1">Informe a numeração do produto</label> <br/>
                        <input type="text" name="numeracao" id="i1" autocomplete="off" />
                    </p>
                    <p>
                        <button type="submit" formaction="/inserirProduto">Cadastrar Produto</button>
                    </p>
                </fieldset>
            </form>
        </body>
    </head>
</html>